<h3 *ngIf="soaps.length>1">There are {{soaps.length}} soaps in stock.</h3>
<h3 *ngIf="soaps.length==1">There are {{soaps.length}} soap in stock.</h3>
<h3 *ngIf="soaps.length<1">You haven't stored any soap yet.</h3>
<div class="table-responsive">
<table id="soap-list-table" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="soap-list-table-body">
        <tr *ngFor="let soap of soaps">
            <td>{{soap.name}}</td>
            <td>{{soap.description}}</td>
            <td>{{soap.price}}</td>
            <td>
                <button class="btn btn-primary" (click)="goToDetails(soap.id)">Details</button>
                <button class="btn btn-danger" (click)="deleteSoap(soap.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>