<div class="title">
    <h1>Üdvözlöm a példafeladatomban!</h1>
    <div class="guide container">
        <blockquote>
            Ez egy egyszerű feladat a CRUD műveletek bemutatására. A programban szappanokat lehet eltárolni a "Record soap" menüpontban a szappan neve, leírása és árának megadásával. Ezeket az adatokat a "Save" gomb megnyomásával tudjuk elmenteni.<br>
        </blockquote>
        <blockquote>
            Az elmentett szappanok listáját a "Soap list" menüpontban találjuk. Megtekinthetjük külön-külön az egyes szappanok adatai, a "Details" gombot megnyomva módisíthatjuk azokat, vagy akár törölhetjük is. Ez utóbbi kérdés nélkül véglegesen törli a terméket az adatbázisból.<br>
        </blockquote>
        <blockquote>
            Egy szappan adatainak módosításakor névnek mindenképpen adjunk legalább egy karakter, valamint a szappan ára sem lehet negatív.
        </blockquote>
    </div>
    <div class="sign">
        <h6>Üdvözlettel: Mészáros Gábor</h6>
    </div>
</div>
